# Rust build artifacts
/target
/sdk/target
/program/target
/deploy
.env
node_modules
recovered.json
/ts/dist
/ts/node_modules
/ts/package-lock.json
/ts/yarn.lock
yarn.lock
/ts/tests

# Configuration files
.DS_Store

# testing
test-ledger

# Lock file (optional - you may want to commit this for reproducible builds)
Cargo.lock